body {
  color: white;
  font-family: Sans-serif;
  overflow: hidden;
  min-height: 1024px;
  min-width: 768px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color:white;
  color: black;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -10%;
  margin-left: -80px;
  border: 1px solid black;
}
#popupbutton{width: 50px;
  margin-top: 20px;
  background-color:#97c139;
  width: 40%;}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid ;
  border-color: white transparent transparent transparent;
}

/* hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* fade in the popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.section-title{
	width: 100%;
	height: 70px;
  border-radius: 30px 0px 0px 0px;
	background: linear-gradient( rgba(151, 193, 57, 0.9), rgba(151, 193, 57, 0.5));;
	line-height: 50px;
	position: relative;
  border: 1px solid black;
  padding-bottom: 10px;
}
.kamera{
  border-radius: 0px 0px 0px 0px;

}
.Lautsprecher{
  border-radius: 0px 30px 0px 0px;

}
#content {
  background:white;
  border-radius: 10px;
  /*bottom: 40px;*/
  overflow: auto;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

input[type=button]{
  padding: 16px 26px;
  border-radius: 5px;
  font-size: large;
}

#warning {
    padding: 5px 10px;
    font-size: large;
    color: black;
}

#allowMic, #allowSpeaker {
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 60%;
  height: 70px;
  margin-top: 30px;
}


#refuseMic, #refuseCam, #confirm, #muteSpeaker {
  background-color: white;
  color: black;
  width: 60%;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 70px;

}


#muteSpeaker2 {
  background-color: white;
  color: black;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 70px;

}

table {
  text-align: center;
  vertical-align: middle;
  width: 100%;

}
th:first-child, th:nth-child(2), td:first-child, td:nth-child(2) {
  border-right: 1px solid rgba(255,255,255,0.3);
}
.tr {
  height: 100px;
  background-color: #97c139;

}
td {
  border-top: 1px solid rgba(255,255,255,0.3);
  width: 33%;
  border: 1px solid black;
}
